*{
    padding: 0;
    margin: 0;
}
ol, ul {
    padding: 0 ;
    margin: 0 ;
}
a{
    text-decoration: none !important;
    color: #373737 ;
}
ul{
    list-style: none;
}
.custom{
    width: 100%;
    padding: 0 5%;
}
.header-web{
    display: flex;
    width: 100%;
    padding: 0 5%;
    justify-content: space-between;
    position: fixed;
    height: 80px;
    background-color: #FFF;
    z-index: 1000;
    top: 0;
    align-items: center;
}
@media (min-width: 768px) and (max-width: 992px){
    .header-web {
        width: calc(100% - 20px);
    }
}
.mobile-menu {
    display: none;
    position: relative;
    width: 22px;
    height: 16px;
}
@media (max-width: 768px){
    .mobile-menu, .date-combo {
        display: block;
    }
}
.mobile-menu span {
    position: absolute;
    display: block;
    width: 100%;
    height: 1px;
    background: #000000;
    right: 0;
    transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    -webkit-transition: all 0.3s ease-in-out 0s;
    -ms-transition: all 0.3s ease-in-out 0s;
}
.mobile-menu span:nth-child(1) {
    top: 0;
}
.mobile-menu span:nth-child(2) {
    top: 8px;
}
.mobile-menu span:nth-child(3) {
    bottom: 0;
}
.main-menu{
    display: block;
}
@media (max-width: 768px){
    .header-web{
        height: 64px;
    }
}
.menu{
    padding-left: 0;
}
@media (max-width: 768px){
    .menu {
        display: none;
    }
}

.main-menu .menu > li {
    display: inline-block;
    margin-right: 24px;
    padding: 15px 0;
}
@media(max-width: 1860px){
    .main-menu .menu > li {
        margin-right: 10px;
    }
}
@media (min-width: 1024px) and (max-width: 1200px){
    .main-menu .menu > li {
        margin-right: 7px;
    }
}
@media (min-width: 769px) and (max-width: 1023px){
    .main-menu .menu > li {
        margin-right: 5px;
    }
}


.menu > li > a {
    color: #221F20;
    font-weight: 600;
    text-transform: uppercase;
}
@media (max-width: 1860px){
    .menu > li > a {
        font-size: 14px;
    }
}
@media (max-width: 1600px){
    .menu > li > a {
        font-size: 12px;
    }
}
@media (max-width: 1023px){
    .menu > li > a {
        font-size: 10px;
}
}
.menu > li:hover > a {
    color: #AC2F33;
}
.logo{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
@media (max-width: 1365px){
    .logo {
        left: 57%;
    }
}
@media (max-width: 1023px){
    .logo {
        position: static;
        transform: none;
    }
}
@media (max-width: 768px){
    .logo {
        margin-top: 4px;
    }
}
.logo img{
    width: 206px;
    height: 66px;
    display: block;
}
@media (max-width: 1860px){
    .logo img {
        height: auto;
        width: 140px;
    }
}
@media (max-width: 1023px){
    .logo img {
        width: 100px;
    }
}
@media (max-width: 768px){
    .logo img {
        width: 117px;
        height: auto;
    }
}
.right-header{
    width: 50%;
    text-align: right;
    line-height: 80px;
}
@media (max-width: 1023px){
    .right-header {
        width: auto;
    }
}

.right-header > * {
    display: inline-block;
    vertical-align: middle;
    text-align: left;
}
.search-form {
    width: 100%;
    max-width: 360px;
    position: relative;
    margin-right: 55px;
}
@media (max-width: 1860px){
    .search-form {
        margin-right: 20px;
    }
}
@media (max-width: 1366px){
    .search-form {
        max-width: 170px;
        margin-right: 20px;
    }
}
@media (max-width: 992px){
    .search-form {
        max-width: 120px;
    }
}

.fa-solid .fa-magnifying-glass:before {
    content: "\e930";
}
.search-form button {
    height: 80px;
    width: 40px;
    border: none;
    position: absolute;
    top: 0;
    left: 0;
    background: none;
    cursor: pointer;
    font-size: 16px;
}
.search-form input {
    width: 100%;
    height: 40px;
    background: #FFF;
    border: 1px solid #E7E8E9;
    border-radius: 4px;
    font-weight: 400;
    font-size: 12px;
    padding-left: 40px;
    margin-left: -5px;
}
.search-form:hover .quick-search{
    opacity: 1;
    visibility: visible;
    top: 63px;
    z-index: 2;
}
.quick-search {
    position: absolute;
    background: #FFF;
    border: 1px solid #E7E8E9;
    border-radius: 4px;
    padding: 24px 24px 16px;
    width: 440px;
    /* left: 35px; */
    top: 20px;
    z-index: 9;
    transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    -webkit-transition: all 0.3s ease-in-out 0s;
    -ms-transition: all 0.3s ease-in-out 0s;
    opacity: 0;
    visibility: hidden;
}

.item-searchs {
    margin-bottom: 24px;
}
.item-sub-title:before {
    position: absolute;
    content: "";
    width: 18px;
    height: 18px;
    border-radius: 50%;
    left: 0;
    top: -1px;
}
.quick-search h4 {
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    color: #221F20;
    margin-bottom: 16px;
}
.item-searchs .item-side-size .item-sub-list {
    max-width: unset;
    width: auto;
    margin-right: 8px;
    margin-bottom: 0;
}
.item-searchs .item-side-size .item-sub-title {
    padding: 8px 12px;
    display: inline-block;
    text-align: center;
    border: 1px solid #ccc;
}
.item-searchs .item-side-size .item-sub-title:hover {
    background-color: #000;
    color: white;
}
.item-side-size .item-sub-title {
    font-size: 12px;
    line-height: 16px;
    padding: 8px 0;
    color: #6C6D70;
    display: block;
}
.item-searchs .item-side-size .item-sub-list {
    max-width: unset;
    width: auto;
    margin-right: 8px;
    margin-bottom: 0;
}
.header-actions .item {
    position: relative;
    display: inline-block;
    vertical-align: bottom;
    margin-right: 25px;
}
@media (max-width: 1860px){
    .header-actions .item {
        margin-right: 10px;
    }
}
@media  (max-width: 1023px){
    .header-actions .item {
        margin-right: 5px;
    }
}
@media (max-width: 768px){
    .right-header form, .right-header .item.wallet {
        display: none;
    }
}
.header-actions .item:last-child {
    margin-right: 30px;
}
.header-actions .icon {
    font-size: 16px;
    color: #000;
    position: relative;
}
.header-actions .sub-action {
    position: absolute;
    top: 63px;
    right: 0;
    background: #FFF;
    display: none;
    z-index: 2;
    border: 1px solid #E7E8E9;
    box-sizing: border-box;
    border-radius: 4px;
    width: max-content;
    min-width: 255px;
}
.header-actions .sub-action::after {
    content: '';
    width: 49px;
    height: 20px;
    background-color: transparent;
    position: absolute;
    top: -22px;
    right: 0;
}
.top-action {
    padding: 24px 24px 20px;
    position: relative;
    border-bottom: 1px solid #F7F8F9;
    margin-bottom: 24px;
}
.sub-action1 ul li:hover a{
    color: #000;
}
.it1:hover .sub-action1{
    display: block;
}

.sub-action h3 {
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    color: #221F20;
}
.sub-action ul {
    padding: 0 24px;
}
.sub-action ul li a {
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    color: #808285;
    margin-bottom: 24px;
    display: block;
}
.sub-action ul li a i {
    display: inline-block;
    margin-right: 12px;
    vertical-align: middle;
}
.header-actions .sub-action-cart.open {
    opacity: 1;
    visibility: visible;
    right: 0;
}
.header-actions .sub-action-cart {
    position: fixed;
    top: 0;
    right: -100%;
    bottom: 0;
    min-width: 390px;
    transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    -webkit-transition: all 0.3s ease-in-out 0s;
    -ms-transition: all 0.3s ease-in-out 0s;
    display: block;
    opacity: 0;
    visibility: hidden;
}
.top-action {
    padding: 24px 24px 20px;
    position: relative;
    border-bottom: 1px solid #F7F8F9;
    margin-bottom: 24px;
}
.number-cart {
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: #FFF;
    background: #221F20;
    width: 24px;
    height: 24px;
    display: flex;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    right: -32px;
    font-family: 'Montserrat';
    padding-left: 0px;
}
.item-cart .icon .number-cart {
    width: 16px;
    height: 16px;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    right: -20px;
    top: -10px;
}
/* .item-cart:hover .sub-action-cart{
    opacity: 1;
    visibility: visible;
    right: 0;
} */

.sub-action-cart h3 {
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    display: inline-block;
    position: relative;
}
.main-action {
    padding: 0 24px;
    max-height: calc( 100vh - 75px - 240px );
    overflow-y: auto;
}
.bottom-action {
    position: absolute;
    bottom: 5px;
    left: 0;
    width: 100%;
}
.bottom-action .total-price {
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    font-family: 'Montserrat';
    display: block;
    text-align: right;
    color: #525459;
    margin-bottom: 16px;
    padding: 0 24px;
    border-bottom: 1px solid #F6F7F8;
}
.bottom-action .total-price strong {
    font-size: 18px;
    line-height: 24px;
    color: #0A0A0B;
    font-weight: 600;
}
.bottom-action .box-action {
    padding: 0 24px;
}
.bottom-action .action-view-cart {
    color: #FFFFFF;
    background: #0A0A0B;
    border: 1px solid transparent;
    margin-bottom: 20px;
}
.bottom-action a {
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    font-family: 'Montserrat';
    display: block;
    padding: 16px 0;
    text-align: center;
    text-transform: uppercase;
}
.bottom-action .action-login {
    color: #4B4E51;
    border: 1px solid #4B4E51;
}
.action-close {
    position: absolute;
    top: 22px;
    right: 22px;
    line-height: 1;
    font-size: 30px;
    cursor: pointer;
    color: #172B4D;
}
.bottom-action:hover .action-login{
    background-color: #000;
    color: white;
}
.nu-newtab:hover > .sub-menu {
    display: flex;
}
/* .sub-menu::after {
    content: '';
    width: 40px;
    height: 34px;
    background-color: #FFF;
    position: absolute;
    top: -34px;
    left: -1px;
} */
.sub-menu {
    position: absolute;
    padding: 23px 24px;
    max-width: 100%;
    width: 90%;
    background: #FFF;
    /* z-index: 2; */
    z-index: 10;
    border: 1px solid #E7E8E9;
    top: 80px;
    /* opacity: 0; */
    /* visibility: hidden; */
    transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    -webkit-transition: all 0.3s ease-in-out 0s;
    -ms-transition: all 0.3s ease-in-out 0s;
    display: none;
}
.sub-menu a{
    font-size: 16px;
    line-height: 16px;
    font-weight: 600;
    color: #000;
}
.sub-menu, .main-menu .menu > li:hover > .sub-menu {
    top: 79px;
}

.main-menu .menu > li:hover > .sub-menu {
    display: flex !important;
    animation: fade_in_show 0.5s;
    animation-duration: 0.5s;
}
.main-menu .menu > li:hover > .sub-menu {
    opacity: 1;
    visibility: visible;
    top: 55px;
}
.cat-sub-menu, .item-list-submenu {
    margin-right: 50px;
    width: 160px;
}
.cat-sub-menu a {
    margin-bottom: 24px;
}
.item-list-submenu ul li a {
    font-size: 14px;
    line-height: 16px;
    color: #57585A;
    display: block;
    margin-bottom: 16px;
}

.cat-sub-menu a, .item-list-submenu h3 {
    font-size: 20px;
    line-height: 16px;
    color: #221F20;
    display: block;
    font-weight: bold;
}
.d-flex {
    display: flex;
    flex-wrap: wrap;
}

.d-flex {
    display: -ms-flexbox!important;
    display: flex!important;
}
.item-list-submenu h3 {
    margin-bottom: 16px;
}
.nam-newtab:hover> .sub-menu{
    display: flex;
}
.treem-newtab:hover> .sub-menu{
    display: flex;
}
.sale-newtab:hover> .sub-menu{
    display: flex;
}
.d-none:hover> .sub-menu{
    display: flex;
}
.menu-custom:hover> .sub-menu{
    display: flex;
}
.list-submenu{
    float: left;
}
/* .list-submenu ul li a{
    font-size: 20px;
    font-weight: bold;
} */
.list-submenu h3{
    font-size: 20px;
    font-weight: bold;
    margin-left: 30px;
}
.menu > li:last-child {
    margin-right: 0;
}
.main-menu .menu > li:hover > .sub-menu.sub-menu-about {
    display: block !important;
}

.main-menu .menu > li:hover > .sub-menu.sub-menu-collection {
    top: 52px;
}
.sub-menu-collection{
    background: #FFF;
    border: 1px solid #E7E8E9;
    position: absolute;
    padding: 23px 24px;
    display: none;

}
/* .sub-menu-collection li{
    height: 30px;
    line-height: 30px;
} */
.sub-menu-about li a {
    font-size: 14px;
    line-height: 16px;
    font-weight: 600;
    color: #221F20;
    margin-bottom: 24px;
    display: block;
}
.menu-custom:hover .sub-menu-collection{
    display: block;
}
#Slider {
    margin-top: 80px;
    padding: 0 5%;
    margin-bottom: 40px;
}
.carousel-item img{
    border-top-left-radius: 100px;
    border-bottom-right-radius:100px;
}
/* San pham */
.sp1{
    position: relative;
    width: 330px;
    margin-right: 30px;
    float: left;
}
.imgsp{
    margin-bottom: 17px;
    position: relative;
}
.imgsp img{
    display: block;
    width: 100%;
    max-width: 100%;
    height: auto;
}
.hover-img{
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    /* transition: all 0.3s ease-in-out 0s; */
    -moz-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    -webkit-transition: all 0.3s ease-in-out 0s;
    -ms-transition: all 0.3s ease-in-out 0s;
    height: 100%;
}
.imgsp a::after {
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
}
.imgsp:hover .hover-img{
    opacity: 1;
    visibility: visible;
}
.list-color {
    margin-bottom: 13px;
    display: flex;
    justify-content: space-between;
}
.list-color ul {
    position: relative;
    white-space: nowrap;
    padding-left: 0;
}
.list-color ul li {
    vertical-align: middle;
    line-height: 1;
    width: 18px;
    margin-right: 10px;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    cursor: pointer;
}
.list-color ul li.checked:before {
    content: "";
    left: 6px;
    top: 3px;
    width: 5px;
    height: 9px;
    border: solid #FFF;
    border-width: 0 1px 1px 0;
    /* -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg); */
    transform: rotate(45deg);
    display: block;
    position: absolute;
}
.list-color ul li img {
    border-radius: 50%;
    max-width: 100%;
    height: auto;
    border: 1px solid #ccc;
}
.favourite {
    cursor: pointer;
}
h3 {
    font-size: 20px;
}
.product .title-product a {
    overflow: hidden;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    min-height: 32px;
    display: -webkit-box;
}
.title-product a {
    color: #57585A;
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
    margin-bottom: 10px;
    display: block;
    text-transform: capitalize;
}
.price-product ins {
    color: #3E3E3F;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    text-decoration: none;
    display: inline-block;
    vertical-align: middle;
}
.add-to-cart a {
    position: absolute;
    bottom: 0;
    right: 0;
    background: #221F20;
    border-radius: 8px 0;
    width: 32px;
    height: 32px;
    color: #FFF;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid transparent;
}
.list-size {
    position: absolute;
    bottom: 0;
    right: 0;
    background: #FFFFFF;
    border: 1px solid #E7E8E9;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease-in-out 0s;
}
.list-size li.unactive {
    pointer-events: none;
}

.list-size li {
    list-style: none;
}
.list-size ul li button {
    outline: 0;
    background: transparent;
    border: 0;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #221F20;
    display: block;
    font-family: 'Montserrat';
    cursor: pointer;
    text-transform: uppercase;
    margin: 0 auto;
    padding: 12px 50px;
}
.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
}
.list-size ul li.unactive button {
    color: #D1D2D4;
    cursor: default;
}
.list-size.open {
    opacity: 1;
    visibility: visible;
    bottom: 35px;
}
.list-size ul{
    padding-left: 0
}
.add-to-cart a:hover, .add-to-cart a:focus {
    color: #221F20;
    background: #fff;
    border: 1px solid #221F20;
}
.home-new-prod{
    margin-bottom: 40px;
}
.home-new-prod .title-section, .home-promote .title-section {
    margin-bottom: 20px;
    padding: 0 5%;
}

.home-promote{
    padding: 0 5%;
}
.title-section {
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 30px;
    line-height: 32px;
    font-family: 'Montserrat';
    color: #221F20;
}
.exclusive-head ul {
    text-align: center;
    margin-bottom: 28px;
}
.exclusive-tab {
    color: #6C6D70;
    font-size: 20px;
    line-height: 30px;
    margin-right: 56px;
    display: inline-block;
    cursor: pointer;
}
.exclusive-tab.active {
    color: #221F20;
    border-bottom: 2px solid #221F20;
}
.exclusive-tab:last-child {
    margin-right: 0;
}
.sanpham{
    margin-bottom: 24px;
    position: relative;
    min-height: 100px;
    display: flex;
    width: 100%;
    padding: 0 5%;
    justify-content: space-between;
}
.link-product{
    text-align: center;
    margin-top: 24px;
}
.link-product .all-product {
    background: #FFFFFF;
    border: 1px solid #221F20;
    box-sizing: border-box;
    border-radius: 24px 0px;
    padding: 13px 24px;
    font-size: 16px;
    line-height: 20px;
    color: #221F20;
    display: inline-block;
    position: relative;
}
.link-product .all-product:after {
    border: 1px solid #D1D2D4;
    box-sizing: border-box;
    border-radius: 24px 0px;
    padding: 13px 24px;
    position: absolute;
    content: "";
    bottom: 0;
    right: -5px;
    z-index: -1;
    width: 100%;
    height: 93%;
    transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    -webkit-transition: all 0.3s ease-in-out 0s;
        -ms-transition: all 0.3s ease-in-out 0s;
}
.link-product .all-product:hover, .link-trending a:hover, .register-form form .form-submit:hover, .view-more-combo a:hover {
    background: #221F20;
    color: #FFF;
    border: 1px solid #221F20;
}
.seller {
    background: url(/img/bg-seller.png) no-repeat center/cover;
    padding: 7px 18px 7px 15px;
}

.info-ticket {
    position: absolute;
    color: #fff;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    top: 0;
    left: -7px;
    z-index: 3;
}
.info-ticket:after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-top: 17px solid #D73831;
    border-left: 7px solid transparent;
    bottom: -16px;
    left: 0px;
    z-index: -1;
}
section{
    display: block;
}
.title-section {
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 30px;
    line-height: 32px;
    font-family: 'Montserrat';
    color: #221F20;
    margin-bottom: 20px;
}
.item-promote {
    width: 25%;
    padding: 0 15px;
    margin-bottom: 40px;
    text-align: center;
}
.promote-image-mobile, .promote-image {
    border-radius: 32px 0px;
    width: 100%;
}
.title-promote {
    margin-top: 12px;
    font-weight: 550;
    
}
.title-promote a{
    color: #373737;
}
.bg-before {
    position: relative;
}
.home-trending {
    min-height: auto;
    margin-bottom: 40px;
    padding: 0 5%;
}
.img-trending-desktop img{
    width: 100%;
    border-top-left-radius: 100px;
    border-bottom-right-radius: 100px;
}
.home-trending-2{
    padding: 0 5%;
    display: flex;
    justify-content: space-between;
}
.img-trending{
    width: 48%;
}
.img-trending img{
    width: 100%;
    border-radius: 50px 0 50px 0;
}
.home-gallery{
    padding: 0 5%;
    margin-top: 40px;
    border-bottom: 1px solid #D1D2D4;
    padding-bottom: 40px;
}
.home-gallery .title-gallery {
    font-weight: 600;
    font-size: 38px;
    line-height: 46px;
    color: #221F20;
    text-align: center;
    letter-spacing: 2px;
    margin-bottom: 24px;
}

.title-gallery {
    text-transform: uppercase;
}
.list-gallery{
    display: flex;
    justify-content: space-between;
}
.item-gallery{
    width: 18%;
}
.item-gallery img{
    width: 100%;
}
/* footer */
.site-bottom {
    padding: 60px 0 0;
    border-bottom: 1px solid #D1D2D4;
}
.footer{
    padding: 0 5%;
}
.main-footer {
    padding-bottom: 32px;
    justify-content: space-between;
}
.left-footer {
    max-width: 22.05%;
    width: 100%;
}
.center-footer{
    justify-content: space-between;
    width: 40%;
}
.main-footer .top-left {
    display: flex;
    align-items: center;
    gap: 10px;
}

.top-left {
    margin-bottom: 16px;
}
.main-footer .top-left .logo-footer, .main-footer .top-left .dmca-badge {
    margin-right: 0;
}
.content-ft {
    font-size: 14px;
    line-height: 24px;
    color: #3E3E3F;
}
.content-ft p {
    margin-bottom: 12px;
}
.list-social {
    margin-top: 24px;
    margin-bottom: 32px;
}
.list-social li {
    vertical-align: middle;
}

.list-social li {
    list-style: none;
    display: inline-block;
    margin-right: 25px;
}

.hotline a {
    background: #221F20;
    border-radius: 16px 0px;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    text-transform: uppercase;
    color: #F7F8F9;
    padding: 12px 24px;
    font-family: 'Roboto', sans-serif;
}
.hotline a {
    display: inline-block;
}
.item-center-ft .title-footer, .info-right-ft .title-footer {
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    color: #221F20;
    margin-bottom: 20px;
}.right-footer {
    max-width: 23.75%;
    width: 100%;
}
@media (min-width: 1200px) and (max-width: 1440px){
    .right-footer .register-form {
        border: 4px solid #E7E8E9;
        padding: 24px 12px;
    }
}


@media (max-width: 1860px){
    .right-footer .register-form {
        padding: 24px 16px;
    }
}

.right-footer .register-form {
    background: #FFFFFF;
    border: 6px solid #E7E8E9;
    border-radius: 56px 0px;
    padding: 32px 28px;
    margin-bottom: 32px;
}
.right-footer .register-form .title-footer {
    text-align: left;
    max-width: 80%;
    margin-bottom: 8px;
}
.register-form .title-footer {
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: #221F20;
    text-align: center;
    margin-bottom: 23px;
}
.right-footer .register-form form {
    display: flex;
    justify-content: space-between;
}

@media (min-width: 1024px) and (max-width: 1200px){
    .right-footer .register-form form > input {
        width: 67.1%;
        font-size: 12px;
        line-height: 16px;
        padding: 0;
    }
}

.right-footer .register-form form > input {
    width: 63%;
    margin-right: 0;
    padding-left: 0;
}
.register-form form input {
    border: 0;
    border-bottom: 1px solid #BCBDC0;
    font-size: 14px;
    line-height: 24px;
    color: #221F20;
    padding: 0 12px 10px;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    margin-right: 15px;
}
@media (min-width: 1200px) and (max-width: 1440px){
    .right-footer .register-form form .btn-submit {
        width: calc( 100% - 67.1% );
        margin-left: 18px;
    }
}
.btn-submit {
    position: relative;
    display: inline-block;
    background: #FFF;
    border-radius: 24px 0px;
}
.info-right-ft ul li {
    display: inline-block;
    margin-right: 19px;
}
.img-fluid {
    max-width: 100%;
    height: auto;
}
.item-center-ft ul li a {
    font-size: 14px;
    line-height: 24px;
    color: #57585A;
    margin-bottom: 16px;
    display: block;
}
ol, ul {
    padding-left: 0;
}