*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    color: black;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
header{
    height: 100px;
    width: 100vw;
    border-bottom: 2px solid #ddd;
    text-align: center;
}
.admin-content{
    padding-top: 50px;
    display: flex;
}
.admin-content-left{
    background-color: beige;
    width: 20%;
    height: 100vh;
    padding: 30px 0 0 12px;
}
.admin-content-left> ul> li> a{
    font-weight: bold;
}
.admin-content-left ul li{
    margin: 6px 0;
}
.admin-content-left ul ul{
    margin-left: 24px;
}
.admin-content-right{
    width: 80%;
    padding: 30px 0 0 12px;
    background-color: antiquewhite;
}
.admin-content-right-cartegory_add input{
    height: 30px;
    width: 200px;
    padding-left: 12px;
    margin-top: 20px;
}
.admin-content-right-cartegory_add button{
    display: block;
    margin-top: 20px;
    height: 30px;
    width: 100px;
    cursor: pointer;
    color: white;
    background-color: black;
    border: none;
}
.admin-content-right-cartegory_add button:hover{
    background-color: rgba(193, 28, 28, 0.819);
    color: white;
}
/* cartegory list */

.admin-content-right-cartegory_list table{
    width: 100%;
    text-align: center;
    margin-top: 20px;
}
.admin-content-right-cartegory_list table tr th,td{
    border: 1px solid #ccc;
}
table{
    border-collapse: collapse;
}